/* Background Colors */
.bg-white {
  background-color: $white;
}
.bg-purple{
  background-color: $secondary-purple;
}
.bg-green{
  background-color: $secondary-lime;
}
.bg-grey {
  background-color: $secondary-grey;
}
.bg-light-grey {
  background-color: $neutral-grey;
}
.bg-ultra-light {
  background-color: $neutral-grey-subtle;
}
.bg-dark-blue {
  background-color: $brand-color-dark;
}
.bg-blue { 
  background-color: $brand-color;
}
.bg-pink {
  background-color: $secondary-pink;
}
.bg-yellow {
  background-color: $secondary-peach;
} 
.bg-teal {
  background-color: $secondary-seafoam;
}
.bg-red {
  background-color:$secondary-red;
}
.bg-orange{
  background-color:$secondary-orange;
}
.bg-gradient {
  background-color: $brand-color-dark;
}
.bg-transparent {
  background-color: rgba(0,0,0,0);
}

/* Font Colors */
.color-white {
  color: $white;
}
.color-purple{
  color: $secondary-purple;
}
.color-green{
  color: $secondary-lime;
}
.color-grey {
  color: $secondary-grey;
}
.color-light-grey {
  color: $neutral-grey;
}
.color-ultra-light {
  color: $neutral-grey-subtle;
}
.color-dark-blue {
  color: $brand-color-dark;
}
.color-blue { 
  color: $brand-color;
}
.color-pink {
  color: $secondary-pink;
}
.color-yellow {
  color: $secondary-peach;
} 
.color-teal {
  color: $secondary-seafoam;
}
.color-red {
  color:$secondary-red;
}
.color-orange{
  color:$secondary-orange;
}