// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@for $i from 0 through 50{
	@if $i % 5 == 0 {
		.mg-b-#{$i} {
			margin-bottom: #{$i}px;
		}
		.mg-t-#{$i}  {
			margin-top: #{$i}px;
		}
		.mg-r-#{$i} {
			margin-right: #{$i}px;
		}
		.mg-l-#{$i} {
			margin-left: #{$i}px;
		}
		.pd-b-#{$i} {
			padding-bottom: #{$i}px;
		}
		.pd-t-#{$i}  {
			padding-top: #{$i}px;
		}
		.pd-r-#{$i} {
			padding-right: #{$i}px;
		}  
		.pd-l-#{$i} {
			padding-left: #{$i}px;
		}
	}
}